{% extends 'master.html' %}
{% block body %}
<section id="form"><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>New password</h2>
                        {% if validlink %}
						<form action="#" method="post">
							{% csrf_token %}
							{% for field in form %}
							{{ field.errors }}
							<label>{{ field.label_tag }}</label>
							<p>{{ field }}</p>
							{% endfor %}
<!--							<a href="{% url 'password_reset' %}" style="float:right;">Forget Password ?</a>-->
							<button class="btn btn_default">Save</button>

<!--							<span>Create new account. </span>-->
<!--							<a href="{% url 'signup' %}" style="float:right;">Signup</a>-->
                        </form>
                        <p style="color: red;">Invalid Token</p>
						<p><a href="{% url 'password_reset' %}"></a>Request new password  </p>
                        {% endif %}
                    </div>
                </div>
        </div>
</section>
{% endblock %}