{% extends 'master.html' %}
{% block body %}

      


<div id="banner-area" class="banner-area tw-analysis-area" style="background-image:url(static/images/banner/banner5.jpg)">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="banner-heading">
                <h1 class="banner-title">Compiler</h1>
                <ol class="breadcrumb">
                   <li>Home</li>
                   <li><a href="portfolio.html"></a></li>
                </ol>
             </div>
          </div>
          <!-- Col end -->
       </div>
       <!-- Row end -->
    </div>
    <!-- Container end -->
 </div>
<section class="container">
   <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="#">Languages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="c_compiler.html">C <span class="sr-only">(current)</span></a>
            <!-- <span class="sr-only">(current)</span> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cpp_compiler.html">CPP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="python_compiler.html">Python</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Coming...</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
 <button style="width: 100%;" >
   <iframe style='max-width:100%; border: none; height: 600px; width: 100%;'  src=https://www.interviewbit.com/embed/snippet/47c74ece91ce031d4740 title='Interviewbit Ide snippet/47c74ece91ce031d4740' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox" ></iframe>
 </button>
 cpp
 <button>
   <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src=https://www.interviewbit.com/embed/snippet/554ffca66a74b72c3cac title='Interviewbit Ide snippet/554ffca66a74b72c3cac' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>
 </button>
 python
 <button>
   <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src=https://www.interviewbit.com/embed/snippet/253de27117c662d80949 title='Interviewbit Ide snippet/253de27117c662d80949' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>
 </button>
 java
 <button>
   <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src=https://www.interviewbit.com/embed/snippet/d0d00e87cbde24271bf4 title='Interviewbit Ide snippet/d0d00e87cbde24271bf4' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>
 </button>
 javascript
 <button>
   <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src=https://www.interviewbit.com/embed/snippet/53cdbff376f1f6a05006 title='Interviewbit Ide snippet/53cdbff376f1f6a05006' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>
 </button>
</section>
<!-- Main container end -->



<section id="tw-analysis" class="tw-analysis-area" style="background-color: #72d5f4 ;">
   <div class="analysis-bg-pattern d-none d-md-inline-block">
      
      <img class="wow fadeInUp" src="images/check-seo/cloud.png" alt="">
      <img class="wow fadeInUp" src="images/check-seo/contact.png" alt="">
      
   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-10 text-center wow fadeInDown">
            <h2 class="column-title">
               Would you like to speak with 
               <span class="text-white">our Creative Team?</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical">
                  <div class="row justify-content-center">
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="name" id="name" name="name" placeholder="Name" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                        </div>
                     </div>
                        <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="phone" id="phone" name="phone" placeholder="Phone" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="submit now">
                        </div>
                     </div>
                  </div>
               </form>
               <!-- End Form -->
            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>
<!-- End Analysis Section -->


{% endblock %}