{% extends 'master.html' %}
{% block body %}
<div id="banner-area" class="banner-area tw-analysis-area"
   style="background-image:url(static/images/banner/banner5.jpg)">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="banner-heading">
               <h1 class="banner-title">Cascading Style Sheet (CSS)</h1>
               <ol class="breadcrumb">
                  <li>Home</li>
                  <li><a href="{% url 'career' %}">Career</a></li>
               </ol>
            </div>
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->
   </div>
   <!-- Container end -->
</div>
<!-- Banner area end -->
<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft">
            <h2 class="column-title text-md-right text-sm-center">
               <!-- Practice with us, <br> It's all about your <br> <span>Online Learning</span> <br><br> -->
               <img src="/static/images/ser-css.png" alt="" width="290px" height="200px">
            </h2>
         </div>
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight">
            <p class="features-text text-black">CSS stands for Cascading Style Sheets. It is a style sheet language
               which is used to describe the look and formatting of a document written in markup language. It provides
               an additional feature to HTML. It is generally used with HTML to change the style of web pages and user
               interfaces. It can also be used with any kind of XML documents including plain XML, SVG and XUL.

               CSS is used along with HTML and JavaScript in most websites to create user interfaces for web
               applications and user interfaces for many mobile applications.</p>
         </div><!-- Col End -->
      </div><!-- End Row 1 -->
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen=""
                  controls frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
   </div><!-- End Container -->
</section><!-- End Features section -->
<section id="main-container tw-slider" class="main-container tw-slider">
   <div class="container">
      <div class="row">

         <div class="col text-center">
            <div class="section-heading">
               <div class="container">
                  <div class="row text-center">
                     <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
                        <h2>
                           Let's <span>Start</span></h2>
                        <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
                     </div>
                     <!-- End Col -->
                  </div>
                  {% comment %} <p class="display-4 text-black">Start Your Career With CSS</p> {% endcomment %}
                  <!-- <p class="bd-lead">
                
               A static web site is <span class="text-uppercase"> that the easiest method to indicate your product </span> or business on-line. it's the simplest variety of website to line up, however.
               
               </p> -->
               </div>
               <!-- section Heading End -->
            </div>

            <div class="row">
               <!-- Col End -->
               <div class="col-md-12">
                  <div class="tw-about-bin">
                     <img src="static/images/about/html_logo.jpg" alt="" class="img-fluid float-right p-5"
                        width="500px">
                     <p class="text-justify">Cascading Style Sheets — or <a href="/en-US/docs/Glossary/CSS">CSS</a> — is
                        the first technology you
                        should start learning after <a href="/en-US/docs/Glossary/HTML">HTML</a>. While HTML is used to
                        define
                        the structure and semantics of your content, CSS is used to style it and lay it out. For
                        example, you
                        can use CSS to alter the font, color, size, and spacing of your content, split it into multiple
                        columns,
                        or add animations and other decorative features.</p>
                     <p class="text-justify">You should learn the basics of HTML before attempting any CSS. We recommend
                        that you work through our
                        <a href="/en-US/docs/Learn/HTML/Introduction_to_HTML">Introduction to HTML</a> module first.
                     </p>
                     <p class="text-justify">Once you understand the fundamentals of HTML, we recommend that you learn
                        further HTML and CSS at the
                        same time, moving back and forth between the two topics. This is because HTML is far more
                        interesting
                        and much more fun to learn when you apply CSS, and you can't learn CSS without knowing HTML.</p>
                     <p class="text-justify">Before starting this topic, you should also be familiar with using
                        computers and using the web
                        passively (i.e., just looking at it, consuming the content). You should have a basic work
                        environment
                        set up, as detailed in <a
                           href="/en-US/docs/Learn/Getting_started_with_the_web/Installing_basic_software">Installing
                           basic
                           software</a>, and understand how to create and manage files, as detailed in <a
                           href="/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files">Dealing with
                           files</a> —
                        both of which are parts of our <a href="/en-US/docs/Learn/Getting_started_with_the_web">Getting
                           started with the web</a> complete beginner's module.</p>
                     <p class="text-justify">It is also recommended that you work through <a
                           href="/en-US/docs/Learn/Getting_started_with_the_web">Getting started with the web</a> before
                        proceeding with this topic, especially if you are completely new to web development. However,
                        much of
                        what is covered in its <a href="/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS
                           basics</a> article is also covered in our <a href="/en-US/docs/Learn/CSS/First_steps">CSS
                           first
                           steps</a> module, albeit in a lot more detail.</p>

                     <!-- <div class="section-heading">
                           <p class="display-4 text-black">For more information visit the <a href="https://youtu.be/iG2jotQo9NI" >link</a></p>
                        </div> -->
                  </div>
                  <!-- About Bin End -->
               </div>
               <!-- Col End -->
            </div>

         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
</section>
<!-- Main container end -->


<section id="tw-analysis" class="tw-analysis-area" style="background-color: #72d5f4 ;">
   <div class="analysis-bg-pattern d-none d-md-inline-block">

      <img class="wow fadeInUp" src="static/images/about/cloud.png" alt="">
      <img class="wow fadeInUp" src="images/check-seo/contact.png" alt="">

   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-10 text-center wow fadeInDown">
            <h2 class="column-title">
               Would you like to speak with
               <span class="text-white">our Creative Team?</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical">
                  <div class="row justify-content-center">
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="name" id="name" name="name" placeholder="Name" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="phone" id="phone" name="phone" placeholder="Phone" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="submit now">
                        </div>
                     </div>
                  </div>
               </form>
               <!-- End Form -->
            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>

{% endblock %}