{% extends 'master.html' %}
{% block body %}
<div id="banner-area" class="banner-area tw-analysis-area"
   style="background-image:url(static/images/banner/banner5.jpg)">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="banner-heading">
               <h1 class="banner-title">Data Science</h1>
               <ol class="breadcrumb">
                  <li>Home</li>
                  <li><a href="{% url 'career' %}">Career</a></li>
               </ol>
            </div>
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->
   </div>
   <!-- Container end -->
</div>
<!-- Banner area end -->
<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft">
            <h2 class="column-title text-md-right text-sm-center">
               <!-- Practice with us, <br> It's all about your <br> <span>Online Learning</span> <br><br> -->
               <img src="/static/images/ser-dsc.png" alt="" width="280px" height="200px" style="border-radius: 50%;">
            </h2>
         </div>
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight">
            <p class="features-text text-black">Data science is a deep study of the massive amount of data, which
               involves extracting meaningful insights from raw, structured, and unstructured data that is processed
               using the scientific method, different technologies, and algorithms.


               It is a multidisciplinary field that uses tools and techniques to manipulate the data so that you can
               find something new and meaningful.

               Data science uses the most powerful hardware, programming systems, and most efficient algorithms to solve
               the data related problems. It is the future of artificial intelligence.

               </p>
         </div><!-- Col End -->
      </div><!-- End Row 1 -->
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen=""
                  controls frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
   </div><!-- End Container -->
</section><!-- End Features section -->

<section id="main-container tw-slider" class="main-container tw-slider">
   <div class="container">
      <div class="row">
         <div class="col text-center">
            <div class="section-heading">
               <div class="container">
                  <div class="row text-center">
                     <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
                        <h2>
                           Let's <span>Start</span></h2>
                        <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
                     </div>
                     <!-- End Col -->
                  </div>
                  <!-- <span class="animate-border ml-auto mr-auto tw-mt-20 tw-mb-40"></span> -->
                  <!-- <p class="display-4 text-black">Start Your Career With HTML</p> -->
                  <!-- <p class="bd-lead">
                
               A static web site is <span class="text-uppercase"> that the easiest method to indicate your product </span> or business on-line. it's the simplest variety of website to line up, however.
               
               </p> -->

               </div>
               <!-- section Heading End -->
            </div>

            <div class="row">
               <!-- Col End -->
               <div class="col-md-12">
                  <div class="tw-about-bin">
                     <img src="static/images/about/about_page_img1.png" alt="" class="img-fluid float-right p-5">
                     <p class="text-justify">A static web site is that the easiest method to indicate your product or
                        business on-line. it's the simplest variety of web site to line up, however creating changes to
                        static Websites need some basic web programming data. Static Web Designing is best fitted to
                        peoples or business that does not need updates often. we are happy to supply low price static
                        web site for your business or personal need.</p>
                     <p class="text-justify">Static web site is additionally termed as little Business web site and book
                        Websites usually and typically and frequently serves with a web demonstration so enabling us to
                        steer the possible customers to get our product or services. this sort of web site is
                        appropriate for people who ought to represent their net presence or simply use it as a basis of
                        intercession to ascertain contact with the shoppers.</p>
                     <p class="text-justify">To Design a static web site may be a straightforward technique compared
                        with dynamic web site because the technology is sort of straightforward to grasp. generally
                        static websites are created victimization minimum script and markup language secret writing. Our
                        static net planning services starts with understanding the shoppers demand, analyzing and
                        planning the acceptable lay out that interprets your business logic into the specified
                        application.</p>
                     <p class="text-justify">At CodeEra Tech, a number one net style company, we tend to mix data,
                        expertise and talent to supply leading edge visuals in Web Designing. Our Static web site
                        packages give absolute resolution to the companies or people, to post straightforward data
                        concerning themselves or concerning their company onto the static sites.</p>
                  </div>
                  <!-- About Bin End -->
               </div>
               <!-- Col End -->
            </div>

         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
</section>
<!-- Main container end -->


<section id="tw-analysis" class="tw-analysis-area" style="background-color: #72d5f4 ;">
   <div class="analysis-bg-pattern d-none d-md-inline-block">

      <img class="wow fadeInUp" src="images/check-seo/cloud.png" alt="">
      <img class="wow fadeInUp" src="images/check-seo/contact.png" alt="">

   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-10 text-center wow fadeInDown">
            <h2 class="column-title">
               Would you like to speak with
               <span class="text-white">our Creative Team?</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical">
                  <div class="row justify-content-center">
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="name" id="name" name="name" placeholder="Name" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="phone" id="phone" name="phone" placeholder="Phone" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="submit now">
                        </div>
                     </div>
                  </div>
               </form>
               <!-- End Form -->
            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>
<!-- End Analysis Section -->


{% endblock %}