{% extends 'master.html' %}
{% block body %}


<!-- Start hero slider/ Owl Carousel Slider -->
<!-- <div class="tw-hero-slider owl-carousel"> -->
<div class="slider-2" style="background-color: #72d5f4  ;">
   <div class="slider-wrapper d-table">
      <div class="slider-inner d-table-cell">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-6">
                  <div class="slider-content">
                     <h1>World's Largest Digital Learing Platform for Programmer.</h1>
                     <p>We at Company name believe to gives the best learning platform for fresher as well as programmer
                        for developed IT era. Company name is a leading learning website. <br>for further details and
                        queries check our courses.</p>
                     <a href="{% url 'about' %}" class="btn btn-dark">Read More</a>
                  </div>
               </div><!-- Col end -->
               <div class="col-md-6">
                  <img src="/static/images/home.png" alt="" class="img-fluid slider-img">
               </div><!-- col end -->
            </div><!-- Row End -->
         </div><!-- Container End -->
      </div><!-- Slider Inner End -->
   </div><!-- Slider Wrapper End -->
</div><!-- Slider 1 end -->







<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft">
            <h2 class="column-title text-md-right text-sm-center">
               <h2 style="text-indent: 0px;">Unique<img src="/static/images/ques.png" style="border-radius: 50% ;"
                     alt="" width="90px" height="80px"><br> from other <br>
                  
                  <span style="color:#FA6742;" >Online
                     Platforms</span></h2>
            </h2>

         </div>
         <!-- h2 tag --Talk to us, It's all about your  -->
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight">
            <p class="features-text text-black">Website is unique from others because here is a diffrent process of
               Online learning.<br>
               <span style="color:#fa6742;">First</span> is <b>Set your Goal</b> through our career form where Guidence
               is
               provided by experts or you can choose as per your wish.
               <span style="color:#FA6742;">Second</span> is <b>Learn</b> through uploaded videos.
               <span style="color:#fa6742;">Third</span> is <b>Take Quiz</b> through tests.
               <span style="color:#fa6742;">Fourth</span> is <b>Do Practice</b> through Compiler and you can choose
               different languages like...C, C++, Python, Javascript, Java.
               <span style="color:#fa6742;">Fifth</span> is <b>Get Badges</b> not implemented.
               <span style="color:#fa6742;">Sixth</span> is <b>Repeat</b> as all know that practice makes perfect so
               repeat after learning.
            </p>
         </div><!-- Col End -->
      </div><!-- End Row 1 -->

      <div class="row tw-mb-65">
         <!-- Col End -->
         <div class="col-md-12 ml-md-auto">
            <p class="text-black">Company Name is professional web design and development, B2B Data, Market Research
               company based in India. Company name Tech is an excellent service provider for corporate or individual
               interested in designing their design & development needs of web-based projects. We provide time bound,
               cost effective and value added services for technology innovative business solutions that require
               specialized domain expertise.Company name Tech experts having 7+ years of experience to assist you in
               achieving your goals from the simplest static site to full-blown content managed enterprise solutions. At
               our Web Designing Company in Gwalior, 474002, India, our Web Designers, and Developers are
               dedicated to producing quality business websites. we offer a full Web Service, which begins with design
               and carries through to Internet Marketing, SEO, and beyond.</p>
         </div><!-- Col End -->
      </div><!-- End Row 1 -->
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="" alt="">
                  </div>
                  <!-- End Features icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Web Development</h3>
               <p>Web Design is that the method of making websites. It encompasses many totally different aspects, as
                  well as webpage layout, content production, and graphic design. whereas the terms web design and web
                  development square measure usually used interchangeably, web design is technically a set of the
                  broader class of web development.
               </p>
               <a href="web_dev" class="tw-readmore">Read More
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src=" " alt="">
                  </div>
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Programming Languages</h3>
               <p>Start working with an company that provide everything you need to any create awareness drive
               </p>
               <a href="Programming_lang" class="tw-readmore">Read More
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src=" " alt="">
                  </div>
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Technology</h3>
               <p>Graphic design, also known as communication design, is the art and practice of planning and projecting
                  ideas and experiences with visual and textual content. The form of the communication can be physical
                  or virtual, and may include images, words, or graphic forms.Best web services provider in Hisar,
                  Haryana 125001.
               </p>
               <a href="Technology" class="tw-readmore">Read More
                  <i class="fa fa-angle-right"></i>
               </a>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
   </div><!-- End Container -->
</section><!-- End Features section -->


<!-- intro section start -->
<section class="tw-inro-item-blue back-ground" style="background-color: #72d5f4 ;">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 align-self-center col-md-6">
            <h2 class="column-title light textmarker text-white">What Make us Different from other Website Design
               Company</h2>
            <p class="text-white"><br>
               Company name Tech makes customized websites as per client requirement, Understanding the need or desires
               of
               the consumer is a crucial side. Understanding and differentiating the need or desires facilitate in
               delivering the consumer with the correct resolution. Once the necessities are done, customization is
               known mentioned and also the solutions are given.
            </p>

            <h3 class="text-white">To Order Your Website<br>Call: +91 0000000000</h3>
         </div>
         <!-- End Col -->

         <div class="col-lg-5 offset-lg-1 col-md-6 text-lg-right text-md-right">
            <div class="tw-contact-bo border-4 p-3">
               <div class="section-heading-2 text-center">
                  <h3 class="text-white">
                     <span class="text-black"> Get Support</span>
                  </h3>
               </div>

               <div class="contact-us-form">
                  <form id="contact-form" class="contact-form" action="" method="POST">
                     {% csrf_token %}
                     <div class="error-container"></div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input class="form-control form-name border border-white" name="name" id="name"
                                 placeholder="Name" type="text" >
                           </div>
                        </div>
                        <!-- Col end -->
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input class="form-control form-phone border border-white" name="phone" id="phone"
                                 placeholder="Phone" type="phone">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input class="form-control form-email border border-white" name="email" id="email"
                                 placeholder="Email" type="email" required="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <textarea class="form-control form-message required-field border border-white" name= 'message'
                                 id="message" placeholder="Your Message" rows="4"></textarea>
                           </div>
                        </div>
                        <!-- Col 12 end -->
                     </div>
                     <!-- Form row end -->
                     <div class="text-center">
                        <button class="btn btn-dark tw-mt-10" type="submit">Submit</button>
                     </div>
                  </form>
                  <!-- Form end -->
               </div>
               <!-- Contact us form end -->
            </div>
            <!-- End Box -->
         </div>
         <!-- End Col -->
      </div>
   </div>
</section>
<!-- intro section end-->

<section id="work-process" class="work-process tw-case">
   <div class="work-bg-pattern d-none d-lg-inline-block">
      <img src="static/images/process/work_process.png" alt="" class="img-fluid wow fadeInLeft" data-wow-duration="1s"
         data-wow-delay="1.2s">
   </div>
   <!-- End Work BG Pattern -->
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
            <h2>
               Our <span>Process</span></h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
      <div class="row">
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/goal1.jpg" alt="" class="img-fluid" style="border-radius: 75%;">
                  </div>
               </div>
               <!-- End process wrapper -->
               <p>Set your Goal</p>
            </div>
            <!-- End Tw work process -->
         </div>
         <!-- End Col -->
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/learn.png" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>Learn</p>
            </div>
            <!-- End Word Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/quiz.jpg" alt="" class="img-fluid" style="border-radius: 50%;">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>Take Quiz</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".8s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/com.jpg" alt="" class="img-fluid" height="150" width="150" style="border-radius: 50%;">
                  </div>
               </div>
               <!-- End PRocess Wrapper -->
               <p>Do Practice</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay="1.0s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/rewards1.jpg" alt="" class="img-fluid" style="border-radius: 75%;">
                  </div>
               </div>
               <!-- End PRocess Wrapper -->
               <p>Get Badges</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-2">
            <div class="tw-work-process">
               <div class="process-wrapper gra-dient d-table wow zoomIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="process-inner d-table-cell">
                     <img src="static/images/process/repeat1.png" alt="" class="img-fluid" height="160" width="100">
                  </div>
               </div>
               <!-- End PRocess Wrapper -->
               <p>Repeat</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-12 text-center wow zoomIn" data-wow-duration="1s" data-wow-delay="1.2s"><a
               href="{% url 'career' %}" class="btn btn-primary tw-mt-80">Get Started</a></div>
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- End Word Process -->

{% endblock %}