{% extends 'master.html' %}
{% block body %}
<section class="container">
  <div class="row tw-mb-65">
    <div class="col-md-4 wow fadeInLeft">
       <h2 class="column-title text-md-right text-sm-center">Practice with &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> <span>JavaScript-Compiler</span></h2>
    </div>
    <!-- Col End -->
    <div class="col-md-7 ml-md-auto wow fadeInRight">
       <p class="features-text text-black">open-source JavaScript and WebAssembly engine used by Google Chrome and Node.js. In this article, we will be going to see what happens behind the scene of V8 Architecture.

        There are basically three steps involved in processing the code:
        
        Parsing the code
        Compiling the code
        Executing the code</p>
    </div><!-- Col End -->
 </div><!-- End Row 1 -->
 <button style="width: 100%;" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">JavaScript</a>
  </nav>
</button>

     <button style="width: 100%;" >
        <iframe style='max-width:100%; border: none; height: 600px; width: 100%;' src=https://www.interviewbit.com/embed/snippet/53cdbff376f1f6a05006 title='Interviewbit Ide snippet/53cdbff376f1f6a05006' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe>
      </button>
      </section>
{% endblock %}