{% extends 'master.html' %}
{% block body %}
<div id="banner-area" class="banner-area tw-analysis-area"
   style="background-image:url(static/images/banner/banner5.jpg)">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="banner-heading">
               <h1 class="banner-title">Javascript</h1>
               <ol class="breadcrumb">
                  <li>Home</li>
                  <li><a href="{% url 'career' %}">Career</a></li>
               </ol>
            </div>
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->
   </div>
   <!-- Container end -->
</div>
<!-- Banner area end -->
<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft">
            <h2 class="column-title text-md-right text-sm-center">
               <!-- Practice with us, <br> It's all about your <br> <span>Online Learning</span> <br><br> -->
               <img src="/static/images/ser-javascript.png" alt="" width="290px" height="200px">
            </h2>
         </div>
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight">
            <p class="features-text text-black">JavaScript (js) is a light-weight object-oriented programming language
               which is used by several websites for scripting the webpages. It is an interpreted, full-fledged
               programming language that enables dynamic interactivity on websites when applied to an HTML document. It
               was introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser.
               Since then, it has been adopted by all other graphical web browsers. With JavaScript, users can build
               modern web applications to interact directly without reloading the page every time.
                 <!--   The traditional
               website uses js to provide several forms of interactivity and simplicity. -->

               <!-- Although, JavaScript has no connectivity with Java programming language. The name was suggested and
               provided in the times when Java was gaining popularity in the market. In addition to web browsers,
               databases such as CouchDB and MongoDB uses JavaScript as their scripting and query language.-->
            </p> 
         </div><!-- Col End -->
      </div><!-- End Row 1 -->
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen=""
                  controls frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
      <br>
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <h3>Beginner</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- <iframe src="" frameborder="0"></iframe> -->
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <h3>Intermediate</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <h3>Advanced</h3>
               <iframe width="265" height="200" src="https://www.youtube.com/embed/80lR0cDBQxE" allowfullscreen controls
                  frameborder="0">
               </iframe>
            </div><!-- End Single Features -->
         </div><!-- End col -->
      </div><!-- End Row 2 -->
   </div><!-- End Container -->
</section><!-- End Features section -->
<section id="main-container tw-slider" class="main-container tw-slider">
   <div class="container">
      <div class="row">

         <div class="col text-center">
            <div class="section-heading">
               <div class="container">
                  <div class="row text-center">
                     <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
                        <h2>
                           Let's <span>Start</span></h2>
                        <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
                     </div>
                     <!-- End Col -->
                  </div>
               </div>
               <!-- section Heading End -->
            </div>
            <style>
               /* The sidebar menu */
               .sidenav {
                  margin-top: 0px;
                  /* height: 100%; Full-height: remove this if you want "auto" height */
                  height: auto;
                  width: 180px;
                  /* Set the width of the sidebar */
                  position: absolute;
                  /* Fixed Sidebar (stay in place on scroll) */
                  z-index: 1;
                  /* Stay on top */
                  top: 0;
                  /* Stay at the top */
                  left: 0;
                  background-color: rgb(255, 255, 255);
                  /* Black */
                  /* overflow-x: over; Disable horizontal scroll */
                  padding-top: 20px;
               }

               /* The navigation menu links */
               .sidenav a {
                  padding: 6px 8px 6px 30px;
                  text-decoration: none;
                  font-size: 25px;
                  color: #4f4a4a;
                  display: block;
               }

               .sidenav a:hover {
                  color: #FA6742;
               }

               /* Style page content */
               .main {
                  margin-left: 160px;
                  /* Same as the width of the sidebar */
                  padding: 0px 10px;
               }

               /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
               @media screen and (max-height: 450px) {
                  .sidenav {
                     padding-top: 15px;
                  }

                  .sidenav a {
                     font-size: 18px;
                  }
               }
            </style>

            <div class="sidenav">
               <a href="#introduction">About</a>
               <a href="#">Services</a>
               <a href="#">Clients</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
               <a href="#">Contact</a>
            </div>
            <div class="row">
               <!-- Col End -->
               <div class="col-md-12">
                  <div class="tw-about-bin">
                     <img src="static/images/about/javascript.jpg" alt="" class="img-fluid float-right p-5"
                        width="550px">
                     <p class="text-justify"><a href="/en-US/docs/Glossary/JavaScript">JavaScript</a> is a programming
                        language that allows you to
                        implement complex things on web pages. Every time a web page does more than just sit there and
                        display
                        static information for you to look at—displaying timely content updates, interactive maps,
                        animated
                        2D/3D graphics, scrolling video jukeboxes, or more—you can bet that JavaScript is probably
                        involved.</p>
                     <p class="text-justify">We have put together a course that includes all the essential information
                        you need to
                        work towards your goal.
                        JavaScript is arguably more difficult to learn than related technologies such as <a
                           href="/en-US/docs/Learn/HTML">HTML</a> and <a href="/en-US/docs/Learn/CSS">CSS</a>. Before
                        attempting to learn JavaScript, you are strongly advised to get familiar with at least these two
                        technologies first, and perhaps others as well. Start by working through the following modules:
                     </p>
                     <ul>
                        <li><a href="/en-US/docs/Learn/Getting_started_with_the_web">Getting started with the Web</a>
                        </li>
                        <li><a href="/en-US/docs/Learn/HTML/Introduction_to_HTML">Introduction to HTML</a></li>
                        <li><a href="/en-US/docs/Learn/CSS/First_steps">Introduction to CSS</a></li>
                     </ul>
                     <p class="text-justify">JavaScript is an actively evolving language and has changed greatly over
                        the years. In particular,
                        the 6th edition of the language (sometimes known as ECMAScript 2015 or ES6), introduced in 2015,
                        added many new features. At the same time, to maintain backwards compatibility with older
                        websites,
                        old features of the language have been retained, even when they are no longer considered good
                        practice.</p>
                     <p class="text-justify">JavaScript is an actively evolving language and has changed greatly over
                        the years. In particular,
                        the 6th edition of the language (sometimes known as ECMAScript 2015 or ES6), introduced in 2015,
                        added many new features. At the same time, to maintain backwards compatibility with older
                        websites,
                        old features of the language have been retained, even when they are no longer considered good
                        practice.
                        We think that the features added to JavaScript in ECMAScript 2015 and subsequent versions enable
                        developers to write more readable, reliable, and expressive code, and that it's important to
                        learn
                        about them.
                        The features we teach in this course are stable and have been supported by all major browsers
                        for
                        several years. You're only likely to have trouble using them in obsolete browsers, in particular
                        Internet Explorer. If you do need to support obsolete browsers, we recommend using a tool like
                        <a href="https://babeljs.io/" class="external" rel=" noopener">Babel</a>, which enables you to
                        write
                        modern JavaScript but have it run in browsers that don't support it.
                     </p>
                     <!-- <div class="section-heading">
                     <p class="display-4 text-black">For more information visit the <a href="https://youtu.be/jS4aFq5-91M" >link</a></p>
                  </div> -->
                  </div>
                  <!-- About Bin End -->
               </div>
               <!-- Col End -->
            </div>

         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
</section>
<!-- Main container end -->


<section id="tw-analysis" class="tw-analysis-area" style="background-color: #72d5f4 ;">
   <div class="analysis-bg-pattern d-none d-md-inline-block">

      <img class="wow fadeInUp" src="images/check-seo/cloud.png" alt="">
      <img class="wow fadeInUp" src="images/check-seo/contact.png" alt="">

   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-10 text-center wow fadeInDown">
            <h2 class="column-title">
               Would you like to speak with
               <span class="text-white">our Creative Team?</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical">
                  <div class="row justify-content-center">
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="name" id="name" name="name" placeholder="Name" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input type="phone" id="phone" name="phone" placeholder="Phone" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="submit now">
                        </div>
                     </div>
                  </div>
               </form>
               <!-- End Form -->
            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>
<!-- End Analysis Section -->

{% endblock %}